.header-container{
    a{
        color: white;
        display: flex;
        align-items: center;
        height: 10vh;
        text-decoration: none;
        margin-left: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    

}