.projects-container {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.project-header {
  font-size: 36px;
  margin: 0;
}
.p-1 {
  margin: 0;
  margin-bottom: 32px;
}

.project {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  transition: 0.3s all ease;
  h2 {
    transition: 0.3s all ease;
  }
  a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
  }
  img {
    width: 32rem;
    margin-right: 40px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.219);
    transition: 0.3s all ease;
  }
}

.project-tech {
  display: flex;
  margin-bottom: 20px;

  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border: none;
  }
}

.project:hover h2 {
  color: yellow;
}
.project:hover .project-img {
  transform: scale(1.03);
}

.project-buttons {
  display: flex;
  justify-content: center;
}
.project-buttons button {
  padding: 12px;
  margin: 12px 0;
  margin-bottom: 24px;
  margin-right: 12px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.project-buttons .active {
  border: 1px solid yellow;
  background-color: yellow;
  color: black;
}

@media screen and (max-width: 1000px) {
  .project {
    flex-direction: column;

    .project-tech {
      justify-content: center;
      img {
        width: 24px;
      }
    }

    h2 {
      font-size: 20px;
      text-align: center;
    }
    img {
      width: 100%;
    }
  }
  .project-header {
    font-size: 20px;
  }

  .code-live {
    text-align: center;
  }
}
